<footer class="section-padding--sm footer">
  <ul class="footer__social">
    <li><a class="fa fa-md fa-archive" href="{{ site.baseurl }}/archive/"></a></li>
    <li><a class="fa fa-md fa-rss-square" href="{{ site.baseurl }}/feed.xml"></a></li>
  </ul>
  
  <ul class="footer__social">
    <li><a class="fa fa-md fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
    {% for social in site.social %}
      <li><a class="fa fa-md fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
    {% endfor %}
  </ul>
</footer>
