

h1 magician03's blog
h3 who says magic does not exist, my code does all the stuff I want,
  em  Magically!

hr



ul.posts
  each article, slug in public.articles._data
    li.posts
      a(href="/articles/#{ slug }") 
        span.glyphicon.glyphicon-console(aria-hidden='true')
        | #{ article.title }