h1 magician03's Blog
h3 I write about building stuff on web and my insights, experiences with it.
br


ul.posts
  each article, slug in public.articles._data
    li.posts
      a(href="/articles/#{ slug }") 
        span.glyphicon.glyphicon-console(aria-hidden='true')
        | #{ article.title }