h1 Welcome to Magician03's blog.
h3 I write about building stuff and my experiences and insights about it.

ul
  each article, slug in public.articles._data
    li
      a(href="/articles/#{ slug }") #{ article.title }
